* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .body {
        color: #FFFFFF;
    }

    a{
        text-decoration: none;
        color:#fff;
    }
    

    .container {
        max-width: 1300px;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between;
    }

    .d-flex{
        display: flex;
        align-items: center;
    }

    .navigation{
        padding: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        position: fixed;
        background-color: #000;
        z-index: 1000;
    }

    .menu{
        margin-right: auto;
        align-content: center;
        justify-content: space-between;
        display: flex;
        list-style: none;
    }

    .menu li a{
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        font-weight: 400;
        color: #fff;
    }

    .menu li{
        padding-right: 40px;
        
    }

    .menu-link:hover {
        border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    }

    .logo{
        width: 82px;
        height: 59px;
        margin-right: auto;
    }

    .cart{
        width: 48px;
        height: 48px;
        margin-left: auto;
    }

    .cart:hover{
        transform: scale(0.95);
    }

    .border-info{
        width: 200px;
        height: 45px;
        display: inline-block;
        margin-top: 40px;
        border: 1px solid #FFF;
        border-radius: 30px;
        box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        
    }

    .border-info:hover{
        background-color: #C51D34;
    }

    .header{
        background: url(../img/background.png) no-repeat center / cover;
        height: 828px ;
}

    .offer{
        padding-top: 200px;
        text-align: left;
    }

    .main-title{
        width: 572px;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #fff;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .main-text{
        margin-top: 21px;
        width: 340px;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: #fff;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .business{
        margin-top: 36px;
    }

    .business-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #323232;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    text-align: center;
        
    }

    .business-text{
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
        width: 561px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #000;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }
    
    
    .collection{
        margin-top: 85px;
        margin-left: auto;
        display: flex;
        list-style: none;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .collection__info{
       width:283px; 
    }

    .collection__item{
        display: flex;
        margin-bottom: 51px;
        width: 45%;
    }

    .collection__item img{
        width: 210px;
        height: 179px;
    }

    .item-title{
        font-weight: 700;
        font-size: 19px;
        line-height: 140%;
        color: #000;
    }

    .collection__text {
        padding-top: 15px;
        display: block;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: #000;
    }

    .collection__price{
        display: inline-block;
        margin-top: 15px;
        color:#C51D34;
        font-weight:bold;
    }

    .collection__border {
        width: 200px;
        height: 45px;
        display: inline-block;
        margin-top: 21px;
        margin-left: auto;
        border: 1px solid #C51D34;
        background: #C51D34;
        border-radius: 30px;
        box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }

    .collection__border:hover{
        transform: scale(0.95);
    }

    .projects{
        margin-top: 144px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        flex-wrap: wrap;
        background-color: #F7F6F8;
        padding-bottom: 200px;
    }

    .projects__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        color: #323232;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-left: auto;
        text-align: center;
        padding-top: 77px;
    }

    .projects__sub{
        margin-left: auto;
        margin-right: auto;
        padding-top: 16px;
        width: 561px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #000;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }

    .projects__collection{
        margin-top: 102px;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }


    .projects__info-collection{
        border-top: 1px solid #B8B8B8;
        display: flex;
        margin-top: 141px;
        list-style: none;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-bottom: 40px;
        justify-content: space-between;
    }
        

    .projects__info-item{
        padding-top: 35px;
        padding-right: 70px;

    }

    .projects__info-item {
        text-align: center;
    }

    .video{
        margin-top: 43px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
        position: relative;
    }

    .video__info{
        background: #F4EAFF;
        margin: 0 auto;
        width: 811px;
        border-radius: 20px;
        padding-bottom: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -214px;
    }

    .video__title{
        padding-top: 50px;
        font-weight: 700;
        font-size: 19px;
        line-height: 140%;
        text-align: center;
        color: #323232;
        font-family: "Ubuntu", sans-serif;
        font-weight:bold;
        font-style:normal;
    }

    .video__sub {
        margin-top: 21px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #000;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .video__border{
        width: 200px;
        height: 45px;
        display: block;
        margin-top: 21px;
        border: 1px solid #C51D34;
        background: #C51D34;
        border-radius: 30px;
        box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
        font-weight: 400;
        font-size: 20px;
        padding-top: 9px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        margin-left: auto;
        margin-right: auto;
        font-weight:400;
        text-align: center;
    }

   
    .video__video {
        margin-top: 51px;

    }

    .video__header {
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        text-align: center;
        color: #323232;
        padding-top: 52px;
    }

    .video__text{
        padding-top: 18px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #000;
    }

    .video__play{
        margin-top: 52px;
        width: 830px;
        height: 455px;
        border-radius: 20px;
        background-color: #000;
        margin-left:  auto;
        margin-right:  auto;
    }

    .video_presentation{
        width: 830px;
        height: 455px;
    }

    .footer{
        margin-top: 200px;
        background-color: #F7F6F8;
    }

    .footer a{
        color: #000;
    }

    .footer__block{
        padding-top:100px;
        height: 326px;
    }
    
    .footer__connection {
        padding-top: 41px;
        list-style: none;
        flex-wrap: wrap;
    }


    .footer__rights{
        margin-top: 44px;
        font-family: "Ubuntu", sans-serif;
        font-style:normal;
    }

    .footer__connection-item{
        padding-top: 10px;
    }

    .connection__title{
        font-family: "Ubuntu", sans-serif;
        font-style:normal;
        font-size: 19px;
    }


    .footer__connection-1{
        list-style: none;
        display: flex;
        padding-top: 44px;
        justify-content: space-between;
    }

    .footer__connection-1 li:not(:last-child){
        margin-right: 30px;
    }

    .footer__icon{
        width: 44px;
        height: 42px;
        margin-right: 0;
        margin-left: 0;
    }

    .footer__icon-2{
        width: 70%;
        width: 41px;
        height: 42px;
        margin-right: 0;
        margin-left: 0;
    }


    .footer__connection-item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .footer__icon-2{
        width: 70%;
    }

    .footer__icon-3{
        width: 60%;
    }

    .text-pic{
        font-size: 14px;
        line-height: 158%;
        color: #c51d34;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-top: 6px;

    }

    .text-pic-vk{
        font-size: 14px;
        line-height: 158%;
        color: #c51d34;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-top: 6px;
    }

    .footer__connection-2{
        padding-top: 25px;
        list-style: none;
        max-width: 100%;
        position: relative;
    }
    

    .user-email{
        text-align: center;
        border: 1px solid #f2f2f2;
        border-radius: 30px;
        width: 464px;
        height: 45px;
        box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
        background: #fff;
    }

    .send-btn{
        border: none;
        border-radius: 90px;
        width: 45px;
        height: 45px;
        background:#C51D34 url(../img/send.png) no-repeat center; ;
        position: absolute;
        top: 25px;
        right: 0%;
        cursor: pointer;
    }

    .send-btn:hover {
        transform: scale(0.95);
    }

    .footer__rights-1{
        margin-top: 23px;
        font-weight: 400;
        font-size: 13px;
        line-height: 158%;
        color: #000;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
    }

    .li img{
        display: inline-block;
    }

    .telegram_link{
       text-align: center;
    }

    .inst_link{
        text-align: center;
    }

    .vk_link{
        text-align: center;
    }

    .connection__title_center{
        text-align: center;
    }

    @media(max-width:480px) {
        .menu{
            visibility: hidden;
        }
        .main-title {
            width: 358px;
        }
            .business-title{
                width: 450px;
            }
            .business-text{
                width: 450px;
                padding-top: 34px;
            }
            .collection{
                display: block;
            }
            .collection__text{
                width: 450px;
            }
            .projects__sub{
                width: 292px;
            }
            .projects__collection{
                display: block;
            }
            .projects__collection li{
                padding-top: 30px;
            }
            .projects__info{
                width: 100%;
    }
    
    .projects__info-collection{
        flex-wrap: wrap;
    }
    .video__info{
        width: 450px;
    }

    .video__text{
        width: 430px;
    }
    .video__play{
        width: 300px;
    }
}





   

    


    



















    


    





   
